---
cluster: "pax"
form_header: |
  <div style="text-align: center; margin-bottom: 20px;">
    <img src="https://raw.githubusercontent.com/nf-core/PIPELINE/VERSION/docs/images/PIPELINE_metro_map.png"
         alt="nf-core-PIPELINE"
         style="max-width: 600px; height: auto; margin-bottom: 10px;">
  </div>

  <div style="background-color:#e6f2ff; border-left: 4px solid #3399ff; padding: 10px; border-radius: 6px; margin-top: 20px; margin-bottom: 20px;">
  This app automatically saves your form inputs between sessions.<br>
  To restore settings to <strong>default values</strong>, run the following command in terminal:
  <pre style="background:#f4f4f4; padding:8px; border-radius:5px;"><code>rm -rf ~/ondemand/data/sys/dashboard/batch_connect/cache/sys_MYAPP.json</code></pre>
  </div>

attributes:
<%= File.read("/etc/ood/config/apps/dashboard/batch_connect/partials/cpu_partition.yml").indent(2) %>
<%= File.read("/etc/ood/config/apps/dashboard/batch_connect/partials/num_cores_generic.yml").indent(2) %>
<%= File.read("/etc/ood/config/apps/dashboard/batch_connect/partials/num_memory_generic.yml").indent(2) %>

  executor:
    label: Which nextflow executor to use?
    widget: select
    options:
    - [
        "slurm", "slurm",
        data-hide-partition: true,
        data-hide-num-cores: true,
        data-hide-num-memory: true
      ]
    - ["local", "local"]
    help: |
      With slurm, tasks will be distributed to different nodes, local means all tasks will run on a single node.

  workdir:
    label: "Working Directory"
    widget: "path_selector"
    directory: "/cluster/tufts"
    required: false
    label: Working directory
    favorites:
        - /cluster/tufts
        - /cluster/home
    
  resume:
    label: Resume
    widget: check_box
    checked_value: 1
    unchecked_value: 0
    help: |
           Resume previous run if found

  tower_access_token:
    widget: "text_field"
    required: false
    label: "TOWER_ACCESS_TOKEN (Optional)"
    help: "Your TOWER_ACCESS_TOKEN used to monitor runs on [Nextflow Tower](https://seqera.io)."

